/* controls */
.control {
  max-width: 600px;
}

/* calendar fix */
.datetimepicker-dummy-input, .datetimepicker-dummy-wrapper {
  background-color: #fff;
  max-width: 600px !important;
  border-radius: 4px;
}

.datetimepicker-clear-button {
  display: none;
  max-width: 600px !important;
  border-radius: 4px;
}

/* validation */
.validation-field:invalid:not(:placeholder-shown) {
  color: #ee5f5b;
}

input[type="radio"][required]:invalid ~ span.validation-field::before {
  content: "*";
  color: #ee5f5b;
}

.validation-field[required]:placeholder-shown {
  display: block;
  background-image: linear-gradient(45deg, transparent, transparent 50%, #ee5f5b 50%, #ee5f5b 100%);
  background-position: top right;
  background-size: .6em .6em;
  background-repeat: no-repeat;

}

.validation-field[data-date-format^="YYYY-MM-DD"]:invalid {
  background-image: linear-gradient(45deg, transparent, transparent 50%, #ee5f5b 50%, #ee5f5b 100%) !important;
  background-position: top right !important;
  background-size: .6em .6em !important;
  background-repeat: no-repeat !important;
  display: block !important;
}

.validation-field[required]:not([data-date-format^="YYYY-MM-DD"]):not(:placeholder-shown) {
  background-image: none !important;
}
